{% load static from staticfiles %}

<!DOCTYPE html>

<footer class="footer">
  <header class="wrapper">
    <div class="external">
      <figure class="external__item--6">
        <a href="http://www.asc-csa.gc.ca/eng/Default.asp"><img src="{% static 'CSA_Logo.png' %}" height="50" width="50"/></a>
      </figure>
      <figure class="external__item--2">
        <a href="https://www.spaceappschallenge.org/"><img src="{% static 'Space_Apps_Logo.png' %}" height="50" width="50"/></a>
      </figure>
      <figure class="external__item--6">
        <a href="https://www.ualberta.ca/"><img src="{% static 'UofA.png' %}" height="50" width="50"/></a>
      </figure>
      <figure class="external__item--3">
        <a href="https://www.linkedin.com/in/eden-redman-neuro/"><img src="{% static 'linkedin.png' %}" height="50" width="50"/></a>
      </figure>
      <figure class="external__item--1">
        <a href="https://github.com/Existentialist-Robot/Paranoid_Android"><img src="{% static 'GitHub.png' %}" height="50" width="50"/></a>
      </figure>
      <figure class="external__item--5">
        <p>Paranoid Android © 2019</p>
      </figure>
    </div>
  </header>
</footer>
